body {
    font-family: 'Oswald', sans-serif;
}

.h1 {
    font-weight: 800;
    font-size: 45px;
    color: #575757;
}

.differentColor {
    color: #EC5800;
}

.display {
    display: flex;
    color: #828282;
}

#pera {
    font-size: medium;
    font-weight: 200;
    padding-top: 20px;

}

.half-width {
    width: 50%;
    margin-left: 10%;
    margin-top: 5%;
}

.button {
    background-image: linear-gradient(45deg, #FBA24F, #FF1E1E);
    height: 80px;
    width: 170px;
    border-radius: 50px;
    font-size: medium;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    margin-top: 25px;
}




#img {
    width: 350px;
}

.display2 {
    background-image: url(images/shapes/Frame\ 56.jpg);
    margin-top: 77px;
}

#pera2 {
    line-height: 30px;
}

.h3 {
    font-weight: 700;
    font-size: 60px;
}