body {
    font-family: 'Oswald', sans-serif;
}

.h1 {
    font-weight: 800;
    font-size: 45px;
    color: #575757;
}

.differentColor {
    color: #EC5800;
}

.display {
    display: flex;
    color: #828282;
}

#pera {
    font-size: medium;
    font-weight: 200;
    padding-top: 20px;

}

.half-width {
    width: 50%;
    margin-left: 10%;
    margin-top: 5%;
}

.button {
    background-image: linear-gradient(45deg, #FBA24F, #FF1E1E);
    height: 80px;
    width: 170px;
    border-radius: 50px;
    font-size: medium;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    margin-top: 25px;
}




#img {
    width: 350px;
}

.display2 {
    background-image: url(images/shapes/Frame\ 56.jpg);
    margin-top: 77px;
}

#pera2 {
    line-height: 30px;
}

.h3 {
    font-weight: 700;
    font-size: 40px;
}



.middle {
    text-align: center;
    margin-top: 45px;
}

#specialP {
    text-align: center;
    margin-bottom: 60px;
    line-height: 30px;
    color: #828282;
}

.display3 {
    display: flex;
    justify-content: center;
}

.pic {
    height: 308px;
    width: 550px;
    padding-top: 20px;
}

.h4 {
    font-weight: 400;
    font-size: 40px;
}

.inrerDiv {
    width: 610px;
    height: 580px;
    border-radius: 25px;
    padding-left: 44px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.418);
}